<section class="row">
  <div class="grid grid-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <%= @venue.venue_name %>
      </div>
      <% @venue.events.each do |event| %>
        <%= link_to "#{event.event_details}", event_path(event.id) %>
        <br>
        <%= event.event_start_time.strftime('%H:%M on %d %^b %Y') %>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</section>