/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 /*------ GENERAL ------*/

 a {
   text-decoration: none;
   color: #000;
 }

 a:hover {
   font-weight: bold;
 }

 a:visited {
   color: inherit;
 }

 /*------ HEADER IMAGE ------*/

 .header-image {
   height: 350px;
   background-image: url("header_image.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-top: -70px;
 }

 .header-image h1 {
   line-height: 350px;
   font-size: 100px;
   font-weight: bolder;
   color: #fff;
   text-align: center;
 }

 /*------ NAV BAR ------*/

 nav {
   background-color: rgb(38, 45, 66);
   height: 55px;
   line-height:  55px;
   position: sticky;
   top:0px;
   margin-bottom: 50px;
 }

 .nav-left {
   float: left;
 }

 .nav-right {
   float:right;
 }

 .logo {
   color: #fff;
   margin-left: 20px;
 }

 nav ul {
   padding-left: 0;
   margin: 0;
   list-style-type: none;
 }

 nav ul li {
   display: inline-block;
   margin-right: 20px;
 }

 nav ul li a {
   text-decoration: none;
   font-family: Helvetica, Sans-Serif;
   color: #fff;
   font-size: 15px;
 }

 nav ul li a:hover {
   font-weight: 600;
 }

 .welcome {
   color:#fff;
 }

 /*------ GRID FRAMEWORK ------*/

 .container {
   width:90%;
   margin: 0 auto;
 }

 .row {
   display:block;
   margin: 0 -10px;
 }

 .grid {
   display:inline-block;
   vertical-align: top; /* default is set to bottom */
   margin-right:-4px; /* using inline block adds a 4px right-hand margin by default, REMOVE! */
   padding: 0 5.6%;
   box-sizing: border-box;
   margin-top: 25px;
 }

 .grid-1 {
   width: 8.333333%;
 }

 .grid-2 {
   width:16.666666%;
 }

 .grid-3 {
   width: 25%;
 }

 .grid-4 {
   width: 33.333333%;
 }

 .grid-5 {
   width:41.666666%;
 }

 .grid-6 {
   width:50%;
 }

 .grid-7 {
   width:58.333333%;
 }

 .grid-8 {
   width:66.666666%;
 }

 .grid-9 {
   width:75%;
 }

 .grid-10 {
   width:83.333333%;
 }

 .grid-11 {
   width:91.666666%;
 }

 .grid-12 {
   width:100%;
 }

 /*------ PANELS ------*/

 .panel {
   margin-bottom: 15px;
   background-color: #fff;
   max-height: 700px;
   overflow:auto;
 }

 .panel-heading {
   padding: 15px 20px;
   font-size: 26px;
   color: #fff;
   border-radius: 5px;
 }

 .panel-heading a {
  color: #fff;
 }

 .panel-body {
   padding: 15px 20px;
 }

 .panel-footer {
   padding: 8px 20px;
   background-color: rgb(40, 57, 112);
 }

 .panel-primary .panel-heading {
   position: inherit fixed;
   top: 0;
   background-color: rgb(40, 57, 112);
 }

 /*------ IMAGES ------*/

.individual-image {
   height: 200px;
   width: 300px;
   border: 1px solid black;
   border-radius: 5px;
}

.individual-image img {
   max-height: 200px;
   max-width: 300px;
}

.feature-image {
   height: 200px;
   width: 300px;
   border: 1px solid black;
   border-radius: 5px;
}

.feature-image img {
   max-height: 200px;
   max-width: 300px;
}

/*------ FOOTER ------*/

footer {
  background-color: rgb(38, 45, 66);
  height: 40px;
  line-height:  40px;
  bottom: 0px;
  margin-top:100px;
}

.footer-left {
  float: left;
}

.footer-right {
  float:right;
}

.logo {
  color: #fff;
  margin-left: 20px;
}

footer ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li a {
  text-decoration: none;
  font-family: Helvetica, Sans-Serif;
  color: #fff;
  font-size: 15px;
}

footer ul li {
  font-family: Helvetica, Sans-Serif;
  color: #fff;
  font-size: 15px;
}

nav ul li a:hover {
  font-weight: 600;
}




